.container{
    background-color: rgb(246, 246, 239);
}

/* nav */
nav{
    background-color: rgb(255, 102, 0);
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 10px;
}

.contents{
    list-style: none;
}

/* section */

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

footer ul{
    list-style: none;
    display: flex;
}

footer ul li{
    margin-right: 10px;
}

.search{
    width: 110px;
}